.friends-list {
    background: #FDFFFC;
    border-radius: 15px;
    width: 30%;
    padding: 1rem 1rem;
}

.single-friend {
    background: #2EC4B6;
    border-radius: 15px;
    margin: 0.5rem auto;
    display: flex;
    padding: 0.7rem;
    cursor: pointer;
}

.single-friend:hover {
    background: rgba(46, 196, 181, 0.7);
}

.single-friend p{
    margin: auto;
}

.friends-photo {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    margin: auto;
}

.friends-wrapper {
    display: flex;
    flex-direction: row;
}

#what-to-eat-header {
    font-size: 2rem;
    text-align: center;
    margin-left: 28%;
    margin-top: 1.5rem;
}

.what-friends-eat {
    display: flex;
    flex-direction: column;
    background: #FDFFFC;
    padding: 1rem 1rem;
    width: 55%;
    margin-left: 2rem;
    border-radius: 15px;
}

.single-eating-wish {
    background: #E71D36;
    border-radius: 15px;
    width: 85%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    cursor: pointer;
}

.wish-friends {
    width: 30%;
}

.wish-number {
    font-size: 2rem;
    font-weight: 600;
}

.time-and-place {
    margin: 0;
}

.time-and-place h1 {
    margin: 0;
}

.single-eating-wish:hover {
    background: rgba(231, 29, 53, 0.7);
}
